$defaultColor: #fff;
$accentColor: #ff9900;

%signika-300 {
    font-family: 'Signika-Light', sans-serif;
    font-weight: 300;
}
%signika-400 {
    font-family: 'Signika-Regular', sans-serif;
    font-weight: 400;
}
%signika-500 {
    font-family: 'Signika-Medium', sans-serif;
    font-weight: 500;
}
%signika-600 {
    font-family: 'Signika-SemiBold', sans-serif;
    font-weight: 600;
}
%signika-700 {
    font-family: 'Signika-Bold', sans-serif;
    font-weight: 700;
}
%playDis-400 {
    font-family: 'PlayfairDisplay-Regular', sans-serif;
    font-weight: 400;
}
%playDis-700 {
    font-family: 'PlayfairDisplay-Bold', sans-serif;
    font-weight: 700;
}